{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body class="bg-dark text-light">
    <main class="main-login d-flex justify-content-center">
      <form method="post" class="d-flex flex-column">
          {% csrf_token %}
          <h1><a href="{% url 'home' %}">сРУТ(ТИИМ)</a></h1>
          <input type="hidden" name="next" value="{{ next }}">
          <div class="form-error">{{ form.non_field_errors }}</div>
          {% for f in form %}
          <div class="form-group mb-3">
              <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
              <div class="form-error">{{ f.errors }}</div>
          </div>
          {% endfor %}
          <button class="btn btn-danger mb-3" type="submit">Войти</button>
          <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
      </form>
    </main>
</body>
</html>

