{% extends 'base.html' %}

{% block content %}
<h1>Восстановление пароля</h1>

<form method="post" class="form-group">
    {% csrf_token %}
    <div class="input-group d-flex flex-column">
        {% for f in form %}
        <p class="mt-2"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
    </div>
    <p ><button class="btn btn-outline-dark" type="submit">Сбросить по E-mail</button></p>
</form>

{% endblock %}