{% extends 'base.html' %}

{% block content %}
    <div class="row-home-first text-light d-flex">
        <div id="image-miit" class="col-6">
            <h1>Сайт балванка про инстик РУТ(МИИТ)</h1>
            <p>Российский университет транспорта (РУТ, или Московский институт инженеров транспорта, МИИТ) — федеральное государственное автономное образовательное учреждение высшего образования Российской Федерации.</p>
            <a href="https://www.miit.ru/" class="btn btn-danger">Сайт инстика</a>
        </div>
    </div>
{% endblock %}