.main-login {
    align-items: center;
    height: 100vh;
    background: rgb(43 48 53)
}

.main-login form {
    align-items: center
}


.main-login .form-control {
    width: 300px;
    background-color: #212529;
    color: #fff
}

.main-login .form-control:focus {
    background-color: #212529;
    color: #fff
}

.main-login .btn {
    width: 200px;
    display: inline-block
}

#form-profile {
    max-width: 540px;
    border-radius: 10px
}
